@font-face {
    font-family: 'bebas_neueregular';
    src: url('assets/BebasNeue-Regular.ttf');
}

h1 {
    left:20px;
    top:20px;
    position:absolute;
    z-index:100;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'bebas_neueregular';
    align-items:left;
    justify-content:left;
    text-align:left;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.planet_text {
    position:fixed;
    z-index:250;
    color: #FFFFFF;
    font-family: 'bebas_neueregular';
    font-size: 80px;
    align-items:left;
    justify-content:left;
    text-align:center;
    margin-bottom: 10;
    margin-left: 40;
    margin-top: 10;
    padding: 10px;
    bottom:0;
    width:50%;
    left:0;
}

.right_side_container {
    position:absolute;
    display:flex;
    flex-direction:column;
    z-index:200;
    background-color:green;
    right:20px;
    bottom:20px;
    top:20px;
    left:60%;
    align-content:center;
    justify-self:center;
    opacity:0.75;
}

.resume_box {
    position:absolute;
    bottom:30%;
    right:10px;
    left:10px;
    top:10px;
    align-content:center;
    justify-self:center;
    width:100%;
}

.resume_stack {
    position:absolute;
    display:inline-flex;
    color:white;
    bottom:0px;
    right:0px;
    left:0px;
    top:70%;
    margin:10px;
    background-color:grey;
    padding: 10px;
    align-content:center;
    justify-self:center;
    text-align:center;
}